.editinputs td {
    margin: 0;
    position: relative;
}

.editinputs td input,
.editinputs td select {
    text-align: center;
    border: 2px solid rgb(164, 164, 164);
    background-color: transparent;
    border-radius: 15px;
    outline: darkgrey;
    -webkit-transition: 700ms all;
    -o-transition: 700ms all;
    padding: 0.1em;
}

.editinputs td:first-of-type {
width: 6%;
}

.editinputs>td:nth-of-type(2),
.editinputs>td:nth-of-type(3) {
    width: 10%;
}

.editinputs>td:nth-of-type(5),
.editinputs>td:nth-of-type(6) {
    width: 6%;
} 
.editinputs>td:nth-of-type(4) {
    width: 8%;
} 
.editinputs>td:nth-of-type(7) {
    width: 8%;
} 

/* .editinputs>td:nth-child(6)>input:nth-child(1),
.editinputs>td:nth-child(4)>input:nth-child(1),
.editinputs>td:nth-child(5)>input:nth-child(1) {
    max-width: 70%;
} 

.editinputs>td:nth-child(2)>input:nth-child(1) {
    max-width: 100%;
}

.editinputs>td:nth-child(3)>select:nth-child(1) {
    max-width: 80%;
} */
/* .editinputs td:first-of-type {
    max-width: 12em;
}

.editinputs>td:nth-of-type(4){
    max-width: 12em;
}

.editinputs>td:nth-of-type(5),
.editinputs>td:nth-of-type(6)  {
    max-width: 6em;
}
.editinputs>td:nth-of-type(2),
.editinputs>td:nth-of-type(3) {
    max-width: auto;
} */
/* 
.editinputs>td:nth-child(2)>input:nth-child(1),
.editinputs>td:nth-child(3)>select:nth-child(1),
.editinputs>td:nth-child(6)>input:nth-child(1),
.editinputs>td:nth-child(4)>input:nth-child(1),
.editinputs>td:nth-child(5)>input:nth-child(1) {
    max-width: 80%;
} */

.editinputs td>input[type=date] {
    -webkit-appearance: none;
    font-size: 1em;
    color: #000;
    width: 100%;
}

.editinputs td>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

.editinputs td input:focus,
.editinputs td select:focus {
    background: lightgrey;
}

.editbuttons button:first-child {
    background-color: #ed99a2;
    color: #dc3545;
    -webkit-transition: 500ms linear;
    -o-transition: 500ms linear;
    transition: 500ms linear;
}

.buttons button:first-child:hover,
.editbuttons button:first-child:hover {
    background-color: #dc3545;
    color: #ffc107;
    -webkit-transition: 500ms linear;
    -o-transition: 500ms linear;
    transition: 500ms linear;
}

.editbuttons button:nth-child(2) {
    background-color: #85b5fe;
    color: #0d6efd;
    -webkit-transition: 500ms linear;
    -o-transition: 500ms linear;
    transition: 500ms linear;
}

.editbuttons button:nth-child(2):hover,
.editbuttons button:nth-child(2):hover {
    background-color: #0d6efd;
    color: #ffc107;
    -webkit-transition: 500ms linear;
    -o-transition: 500ms linear;
    transition: 500ms linear;
}

.text-yellow {
    color: #f2d98f;
}

.error1,
.error2,
.error3,
.error4 {
    position: absolute;
    width: 12em;
    height: 8em;
    font-size: 1em;
    color: rgb(98, 0, 0);
    background-color: #ebebeb;
    text-align: center;
    display: block;
    font-weight: 500;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 1;
}

.error1 {
    left: 5.5em;
    bottom: -9em;
}

.error3 {
    left: 2em;
    bottom: -9em;
}

.error4 {
    left: 5em;
    bottom: -9em;
}

.error1::before,
.error2::before,
.error3::before,
.error4::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-radius: 2px;
    border-style: solid;
    border-color: transparent transparent #c6c6c6 transparent;
}

.buttons>button:nth-child(3) {
    cursor: pointer;
    position: relative;
    display: none;
}

.tools-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    background-color: rgb(224, 224, 224);
    position: absolute;
    text-align: left;
    top: 4.2em;
    right: 3.5em;
    border-radius: 5px;
    padding: 8px 0.8em;
    min-width: 12em;
    min-height: 8em;
    z-index: 1;
    font-size: 0.9em;
}

.tools-content button {
    width: auto;
    height: auto;
}

.tools-content button span {
    font-size: 0.8em;
}

@media screen and (min-width:576px) and (max-width: 967px) {

    .buttons>button:nth-child(3) {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .editinputs>td:nth-child(3)>input:nth-child(1),
    .editinputs>td:nth-child(2)>input:nth-child(1),
    .editinputs>td:nth-child(4)>input:nth-child(1),
    .editinputs>td:nth-child(6)>input:nth-child(1),
    .editinputs>td:nth-child(5)>input:nth-child(1) {
        max-width: 100%;
    }

}

@media screen and (min-width:967px) and (max-width: 1370px) {

    .editinputs>td:nth-child(3)>select:nth-child(1),
    .editinputs>td:nth-child(2)>input:nth-child(1),
    .editinputs>td:nth-child(4)>input:nth-child(1),
    .editinputs>td:nth-child(6)>input:nth-child(1),
    .editinputs>td:nth-child(5)>input:nth-child(1) {
        max-width: auto;
    }

    .editinputs td:nth-child(4) {
        max-width: 8em;
    }
}