table {
    animation: appear 1.2s linear;
}

table th:first-of-type {
    width: 6%;
}
table th:nth-of-type(4) {
    width: 8%;
}

table th:nth-of-type(5),
table th:nth-of-type(6) {
    width: 8%;
}
table th:nth-of-type(7) {
    width: 8%;
}

table th:nth-of-type(2),
table th:nth-of-type(3) {
    width: 10%;
}

table tbody td {
    vertical-align: baseline;
    position: relative;
}

table thead tr {
    border-bottom: 1px solid lightgrey;
}

.main-exp>div:nth-child(1)>span:before {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 2.2em;
    height: 0.7em;
    border-radius: 15px;
    margin: 0 0.2em;
    background-color: #ffc107;
}

.main-exp>div:nth-child(2)>span:before {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 2.2em;
    height: 0.7em;
    border-radius: 15px;
    margin: 0 0.2em;
    background-color: #0d6efd;
}

.main-exp>div:nth-child(3)>span:before {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 2.2em;
    height: 0.7em;
    border-radius: 15px;
    margin: 0 0.2em;
    background-color: #dc3545;
}

div.justify-content-end:nth-child(1)>div:nth-child(2) {
    margin: 0 2em;
}

.navigationButtons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #000;
    margin: 0;
    padding: 0;
    height: 3em;
    position: relative;
}

.navigationButtons li {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 2px solid #ffc1078e;
    background-color: #dddddd;
    padding: .360rem .85rem;
    margin: 0 0.3em;
    font-size: 0.8rem;
    border-radius: .35rem;
    transition: 700ms linear;
}

.navigationButtons li a {
    color: #000;
    text-decoration: none;
}

.navigationButtons li:hover{
    background-color: #ac9898;
}

@media screen and (min-width:576px) and (max-width: 767px) {

    tr.text-secondary>th:nth-child(1),
    tbody.text-center>tr td:first-child,
    tbody.text-center>tr td:nth-child(7)>button:first-child,
    tbody.text-center>tr td:nth-child(7)>button:nth-child(2) {
        display: none;
    }

    th.text-secondary>span:nth-child(1) {
        font-size: 0.9em;
    }

    table th:last-of-type {
        width: 5em;
    }
}

@media screen and (min-width:767px) and (max-width: 967px) {

    tr.text-secondary>th:nth-child(1),
    tbody.text-center>tr td:first-child,
    tbody.text-center>tr td:nth-child(7)>button:first-child,
    tbody.text-center>tr td:nth-child(7)>button:nth-child(2) {
        display: none;
    }

    table th:nth-of-type(5),
    table th:nth-of-type(6),
    table th:last-of-type {
        width: 5em;
    }
}