html,
body {
    margin: 0;
    display: block;
    height: 100%;
}

.maincontent {
    flex-basis: 85%;
    flex-grow: 1;
    min-height: 100vh;
    background-color: #e8e8e8dc;
}

.sidemenu {
    min-height: 100vh;
    flex-basis: 15%;
    z-index: 1000;
    background-color: whitesmoke;
    box-shadow: 3px 3px 15px #aeaeae;
    padding-left: 0;
    padding-right: 0;
}

.sidemenu a:nth-child(2) span,
.sidemenu a:last-child span {
    border-left: 5px solid #ffc107;
    transition: 500ms linear;
}

.sidemenu a:nth-child(2),
.sidemenu a:last-child {
    transition: 500ms all;
    width: 90%;
}

.sidemenu a:nth-child(2):hover,
.sidemenu a:last-child:hover {
    border-radius: 15px;
    width: 110%;
    background-color: #E8E8E8;
    padding: 0;
    transform: scale(1.1, 1.1);
}

.header {
    background-color: whitesmoke;
}

.title {
    font-weight: 400;
    padding-left: 4em;
    position: relative;
    letter-spacing: 0.1em;
}

.title:after {
    content: "";
    border-bottom: 2px solid;
    bottom: -6px;
    left: 4em;
    position: absolute;
    width: 30px;
}

.account {
    cursor: pointer;
    position: relative;
    flex-grow: 1;
}

.account span svg {
    transition: 500ms all;
}

.acc-content {
    background-color: whitesmoke;
    position: absolute;
    top: 3.5em;
    right: 2.5em;
    min-width: 7em;
    min-height: 5em;
    padding: 0.5em;
}

.netbalance {
    width: 180px;
    height: 180px;
    padding: 2em;
    border-radius: 50%;
    text-align: center;
    border: 6px solid grey;
    font-size: 1em;
}

.balancesummary {
    font-size: 1em;
    position: relative;
}

.balancesummary div:first-child>span:first-child>svg,
.balancesummary div:nth-child(2)>span:first-child>svg,
.balancesummary div:last-child>span:first-child>svg {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.balancesummary svg {
    color: white;
}

.main {
    padding: 0 5em 0 5em;
}

.main .firsttext {
    padding: 0 0 0 5em;
    margin: 0;
    font-size: 0.7em;
}

.main .button .add {
    background-color: #0d6efd;
    font-size: 0.8em;
    border-radius: 10px;
    outline: none;
    border: none;
}

.main .button .add:hover {
    background-color: #004ec2;
}

/*filter*/
.main .button button:first-child:hover {
    background-color: #e6e6e6;
    color: grey;
}

.main .button button:first-child {
    background-color: #f5f5f5;
    color: #989898;
    border-radius: 10px;
    outline: none;
}

.activitiestable {
    height: 100%;
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 0.8em;
}

.popupform {
    position: fixed;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: #00000050;
}

.formblock {
    background: #fff;
    position: relative;
    width: 38em;
    height: auto;
    border-radius: 10px;
}


.formblock .formtitle span:first-child,
.formblock .formtitle span:last-child {
    width: 8%;
}

.formblock .formtitle h4 {
    width: 92%;
}

.formblock .formtitle span:last-child {
    cursor: pointer;
    font-size: 1.5em;
}

.formtitle div {
    padding-left: 0.1em;
    padding-right: 0.1em;
    position: relative;
}

.formtitle div:first-child svg {
    width: 90%;
    height: auto;
    font-weight: 900;
    font-size: 1.3em;
    padding-bottom: 0.1em;
}


.formtitle div:first-child:before {
    content: '';
    position: absolute;
    bottom: -50%;
    right: -62%;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background: #8080802f;
}

.outflowbtn,
.inflowbtn {
    border-radius: 50%;
    border: none;
    position: relative;
    transition: 500ms linear;
    background-color: lightgrey;
}

.outflowbtn svg,
.inflowbtn svg {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    height: auto;
}

.outflowbtn:hover {
    background-color: #dc3545;
}

.inflowbtn:hover {
    background-color: #0d6efd;

}

.formblock form label {
    margin-left: 1.5em;
    margin-bottom: 0.2em;
}

.formblock form input,
.formblock form select {
    width: 95%;
    margin: 0 auto;
    padding: 0.6em;
    border-radius: 10px;
    position: relative;
    outline: none;
    -webkit-appearance: none;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.295);
    color: rgb(90, 90, 90);
}

.amountblock,
.dateblock {
    width: 47%;
    margin: 0 auto;
}

input[type='date'] {
    color: rgb(90, 90, 90);
}

.formblock select {
    background-color: transparent;
    -webkit-appearance: none;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.295);
    outline: none;
}

.formfooter {
    height: 8vh;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    align-items: center;
    justify-content: end;
}

div.me-4:nth-child(1)>button:nth-child(1) {
    background-color: #0d6efd;
    transition: 500ms linear;
    font-size: 1.1em;
}

div.me-4:nth-child(1)>button:nth-child(1):hover {
    background-color: #0041a3;
}

div.me-4:nth-child(2)>button:nth-child(1) {
    background-color: #d6d6d6d2;
    transition: 500ms linear;
    font-size: 1.1em;
}

div.me-4:nth-child(2)>button:nth-child(1):hover {
    background-color: #afafafd2;
}