table tbody td {
    vertical-align: baseline;
    width: 1000px;
}

table thead tr {
    border-bottom: 1px solid lightgrey;
}

.cardicons svg {
    border-radius: 50%;
}

.editinputs td input,
.editinputs td select {
    text-align: center;
    border: 1px solid lightgrey;
    background-color: transparent;
    border-radius: 15px;
    outline: darkgrey;
    transition: 700ms all;
}

.editinputs td>select {
    text-align: center;
    outline: darkgrey;
    appearance: none;
    min-width: 80%;
}

.date {
    min-width: 15%;
}

.editinputs td>input[type=date] {
    -webkit-appearance: none;
    font-size: 0.9em;
}

.editinputs td input:focus,
.editinputs td select:focus {
    background: lightgrey;
}


.buttons button:first-child,
.editbuttons button:first-child {
    background-color: #ed99a2;
    color: #dc3545;
}

.buttons button:first-child:hover,
.editbuttons button:first-child:hover {
    background-color: #dc3545;
    color: #ffc107;
}

.buttons button:last-child,
.editbuttons button:last-child {
    background-color: #85b5fe;
    color: #0d6efd;
}

.buttons button:last-child:hover,
.editbuttons button:last-child:hover {
    background-color: #0d6efd;
    color: #ffc107;
}

.text-yellow {
    color: #f2d98f;
}

.editinputs>td {
    position: relative;
}

.error1, .error2, .error3, .error4 {
    position: absolute;
    width: 13em;
    height: 7em;
    font-size: 1em;
    color: #000;
    background-color: #ebebeb;
    text-align: center;
    display: block;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.error1, .error3, .error4 {
    left: 0;
    bottom: -8em;
}